language: ruby
cache: bundler
rvm:
  - 2.4
  - 2.5
script:
  - bundle exec rspec spec/unit
  - bundle exec rubocop -c .rubocop.yml
deploy:
  - provider: releases
    api_key:
      secure: xg82SFFS5Vd99DV6F+9O81Y1yQL/7VMPlSQOMWLY8ZNFkoUsimdKMqNFVuLx2quy7Ui1CtXS4SEb1bdLo+JmmV5Wlrzwjx37l+WMHz3znng3V3UiLnTKlyeKaXFr1meKaFFltdN/p2dTSPaMamw0sbFk+ZvdT1AelFT0lHIouans/WydTOCiUURZ4qrVAUbaC63dV5vWC+7Qo0F9wkRSrXdpbF82xxJF2bH1ZCLZrmAgFkVjSbGZAJReMcfAbZB6Y59J+dKiXF31ycH8upkkbp7VHyA7b0F1/RZKfEnJ3kOs5N1wPwQF32esCe5WSaziqWKgNUpXbYFcvFliTrYq52PbUiwc1BvJnWFLuIMqZe4Av0McmYcJ561b+hnCm6/cPuCrnuYajyoPArbI6ir5JUEgzRl3nSF+T/sQph7iMX1j4LnotgTFRO3Erm10oRA6Z8AEwMEIzW38WdGgEpBt7EaQZ4ANk2PNBF7UXpVM26SilJc+2YpROcVVpMPR+6WuMUSamuLGTNc5juMemnKGpeNWIkEL1x0weztuENvwJlwyDprRfzVjnHxgQAJEUrTf5alyKkbnPBa0iZoqF/vCDoaG5utvWG7ct91pJfWKbxZt7rYzNRYBGwR8dJbq/H8eXie70J5izzwqz5Nyk2nWPadnVg8onpWGg0OUWo/lffw=
    file_glob: true
    file: manifestly-client-*.gem
    on:
      tags: true
      rvm: 2.4
      repo: firespring/manifestly-ruby

  - provider: rubygems
    api_key:
      secure: v/HaDZovJL1mK9PFzBLmU2+bxfshARySwYT2rLGZ5s8GMs8jY9hN58jw6EK2pMkv+L7pwI/pGr7e/619i8ASF32TgH3sBy7mpoHdymC7yi51F11AFW1iMdNx4M3M6A8pkrKWpADEmcvooj0eB2Xn9ymIBYE2WtddJ+aS/OXaVuvfChCZmIXQ7GWH1ZBGaZOQVmEaXnJxyriVnGZ4E+CQiFm4rLsxnQeDUMjWsh4/rhwSsOus8U6+PqX99oqYTieofGBCeyXupQ/4gOo5GLc3ii9DKdA+jhSb1M9FyoELdC2XJSLqJaW8rRP063fUF4JBguMWf3eMM/Uc9i6buwjsc8jthgjoCJRJeckxCeO9cBocH4gdxIcu/R/kudsMLxyNVq+z3/AWrvOAzUKtWbVwyJXoh2Wdhwz6QF1yxEqJiYdaabJmlJUCNP89fmEAtSZohALJGmKxSjEbUlgxti0nkoh2zL7zXIrU6Nhv/Qblgrf3hQ8FXMIHBJt40vZHbQ6A5Ts07SfTUrSFazEgYR+aOxWpg+D/jqvkHii/2j1+cotkEw6itKs+coxDoz0hO1CFPvdZGmT5Sh/9YIDUIUaz+UhMtUqgblK1pfLP78Y+OCq2wH9WM9oEbc453kg1yxcy2G9ylGEcbGGXXPq11C7/YNxq5yNXVJOX78rDLNkk2jU=
    gem: manifestly-client
    on:
      tags: true
      rvm: 2.4
      repo: firespring/manifestly-ruby
