language: ruby
cache: bundler
rvm: 2.4
script:
  - bundle exec bundle-audit update && bundle exec bundle-audit check
  - bundle exec rspec spec/unit
  - bundle exec rubocop
deploy:
  - provider: releases
    api_key:
      secure: ljBnXvc8L+BxeJshZ5+67vsEp5ixShklubZ2/fqqMN1jscgzkjXYmr5+Vr06ndiK4pnorZRIXYK0CZHye8+Yf8OJCLHss+6/pToE2Dw+WkBCWPrq7TJzd5G3hufTyMJ4nNdXmrJqYYmZi6SYvLLdK/7m738wdumHmT+OGH4XPi1Rl6KaPnrnqI4Jlrbdmg6w0Nq7EELh5tjlJjjJ2U4XN7+NzsDJJixjizsiKA66vzfhjSJ56gZe6L+GRtkbT3BIq9bK+YYpTDbuXiQWM4opdK/OLnoWTLRlnerrVwrV1vlWRdXMJe5S24jiiFX5a7mop8gLfSQICXRrfgt3U/+2H405khf5ahwIwqZm7N4ebQOW4MCKedjlvBD4+SInghCYs6HKczhnhiDqQwQsL/YKf3l81LjuAbabv/iFNrjFcVip06E567YIWkSb/PM6QkHKXBzf9koahF6Vg3P9msw1fvc5EcYeyiuiqv7+wTZVKz+7NJkO7az92Vahb99qIW4/RlSmYmS9uTo6CfJ1k8ZdoJSLEq6kXKxFryCQ7g+3Lwh8GVdgZuGgPelLVMV8TitP6D0KNu8cXD6Mugpf+f5p2ZoZGbGOQYdrNOA72MrHAI+SCcM6E/QUAz4e9t5S3EA8+x2Ns3rAmi6Wxuae45o8ovghlyQsfGFlr48pfuHCSic=
    file_glob: true
    file: manifestly-client-*.gem
    on:
      tags: true
      repo: firespring/manifestly-ruby
  - provider: rubygems
    api_key:
      secure: FRUmy4P70d/oNd4Kom5af5NJ+6bqf4fJUrVZJGU1j+j5GjNNUTVsXdN+FU3nRgiukGxplYl48/RMDnfmEAkgLtF21lKp2f081LOuJ1PaaO3UquNIUULYrrxSu+zWHfdx6B9IZKVVxMmX1y+gb1z8TxhNpkZsfeu+uo3kjyESX4NHYxLSmPsjMhTnxnzspZ996PudDSrw4IGwWDkQ6Tkcn0mL0EhTUjmL6/HGJ+0U0vCh3GMbTw8jYcp76nUjn6mc1nmJ2HebnkZVKchoWOWwH7wOBmY8tDZZqohE0XJsOTGBf3ogZlZJCI/NmvlfP0DWuSPER92/4ew7wKeOIxHGwPXNtG4s7ttMGiR2d0XeIrT2OLj++5nNo2dGX9WcWtOq3605Eu9lyY7aT8aQLqO+jR1lV2FfNnh2Uw/SnKjYUAF4k36/D0MFS1dW8y/FqsA0U++M1Vo6dWxqnmQdhyFRiH+6kJOVIq1peZiXWhPqY+soLk5iS7M8AEg1yBRkfBFYjHETSkQJqVWZ6khabRtPdQe22kmc9VqbhksU6dT6Hq4gwEoVpzGWv4IBrHawMwO4sY41Is6fL1R9ypFCdqtH4ZAtb33TC1HFzD6vrPciVXRrcuuZY4pKHtOK/fnw1Va2zYmREmTGi71jNN9oj7ItyxCXCl3pu53cScS6w7cYxbY=
    gem: manifestly-client
    on:
      tags: true
      repo: firespring/manifestly-ruby
